*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  height: 100vh;
  /* width: 100%; */
  background-color: #a7bcff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.form-wrapper{
  width: 400px;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input{
  width: 100%;
  padding: 15px 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

form input::placeholder{
  text-transform: capitalize;
}

form label{
  width: 100%;
  margin-bottom: 20px;
}

form label i{
  color: #ddddf7;
  font-size: 40px;
  cursor: pointer;
}

form p{
  font-size: 12px;
}

form a{
  text-decoration: none;
}

h2, p{
  text-transform: capitalize;
}

form label{
  font-size: 14px;
}

.form-wrapper button{
  display: block;
  padding: 8px 20px;
  width: 100%;
  text-transform: capitalize;
  border-radius: 5px;
  border: solid #5f85cc 1px;
  background-color: #5f85cc;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 20px;
}

.container{
  border: solid 1px #ddddf7;
  border-radius: 10px;
  width: 65%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

/* sidebar */
.sidebar{
  flex: 1;
  background-color: #3e3c61;
}

/* navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f2d52;
  padding: 10px;
  color: #ddddf7;
  height: 50px;
}


/* user */
.user{
  display: flex;
  gap: 5px;
}

.user img{
  width: 24px;
  height: 24px;
  background-color: #ddddf7;
  border-radius: 50%;
  object-fit: cover;
}

.user button{
  background-color: #3e3c61;
  color: #ddddf7;
  border: none;
  padding: 5px;
  font-size: 10px;
  cursor: pointer;
  text-transform: capitalize;
}

/* search */
.search{
  border-bottom: gray solid 1px;
}
.search input{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: #ddddf7;

  /* border-bottom: 1px solid gray; */
  padding: 10px;
}

.search input::placeholder{
  color: #ddddf7;
}

.users img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.users{
  /* margin-top: 10px; */
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ddddf7;
  cursor: pointer;
}

.users:hover{
  background-color: #2f2d52;
}

.userInfo span{
  font-size: 18px;
  font-weight: 500;
}

.userInfo p{
  font-size: 10px;
  color: lightgray;
}

/* chat */

.chat{
  flex: 2;
}

.chatInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #595685;
  color: #ddddf7;
  padding: 10px;
  height: 50px;
}

.chatIcons{
  display: flex;
  gap: 10px;
}

.chatIcons i{
  cursor: pointer;
}


/* messgaes */
.messages{
  background-color: #ddddf7;
  height: calc(100% - 100px);
  overflow: scroll;
}

/* message */

.message{
  display: flex;
  /* padding: 0 20px; */
  margin: 20px;
  gap: 20px;
}

.owner{
  flex-direction: row-reverse;
}

.owner .messageContent{
  align-items: flex-end;
}

.owner .messageContent img,
.owner .messageContent p
{
  border-radius: 10px 0 10px 10px;
}

.owner .messageContent p{
  background-color: #5f85cc;
  color: #fff;
}

.messageContent{
  display: flex;
  flex-direction: column;
}

.messageInfo img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.messageInfo p{
  font-size: 12px;
}

.messageContent img{
  width: 50%;
  border-radius: 0 10px 10px 10px;
}

.messageContent p{
  background-color: #fff;
  width: max-content;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 0 10px 10px 10px;
}


.input{
  background-color: white;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input input{
  width: 100%;
  border: none;
  outline: none;
  /* padding: 20px; */
}

.input input[type="file"]{
  display: none;
}

.input input::placeholder{
  color: #ddddf7;
  font-size: 16px;
}

.send{
  display: flex;
  gap: 10px;
  align-items: center;
}

.send i{
  color: #c9c9e2;
  cursor: pointer;
}

.send button{
  padding: 10px;
  background-color: #8681df;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}